<div class="bg-black text-color-white">
    <div class="common-padding-divider"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4 class="footer-link-title">CSA</h4>
                <ul>
                    <li><i class="fa fa-envelope"></i> info@csa.com</li>
                    <li><i class="fa fa-phone"></i>+91 9898989898</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4 class="footer-link-title">Links</h4>
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Services</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4 class="footer-link-title">Social Links</h4>
                <ul>
                    <li><i class="fa fa-facebook"></i> Facebook</li>
                    <li><i class="fa fa-google"></i> Gmail</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="common-padding-divider"></div>
</div>