<!--app header-->
<app-header></app-header>
<!--app header end-->
<div class="upper-banner">
    <img src="assets/images/inner-banner.jpg" alt="inner-banner">
</div>
<div class="common-padding-divider"></div>
<div class="container">
    <h2>About Us</h2>
    <div class="description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel suscipit optio officiis ducimus eum earum consequatur hic, expedita magnam? Repudiandae repellat neque explicabo asperiores eligendi a saepe quia perferendis? Aperiam nulla itaque perspiciatis suscipit nobis possimus, eligendi dignissimos fugit magnam, nihil illum, eos illo autem similique? Tenetur autem explicabo sed placeat, exercitationem doloremque provident, veniam, id laudantium odio enim iste.</p>
    </div>
</div>
<div class="common-padding-divider"></div>
<!--app footer-->
<app-footer></app-footer>
<!--app footer end-->