<!--Header-->
<app-header></app-header>
<!--Header End-->

<!--Banner-->
<div class="banner">
    <img src="assets/images/worker.jpg" alt="worker image" />
    <div class="container">
        <div class="overlay-data">
            <h2 class="overlay-main-title">Skilled Workers</h2>
            <h5 class="overlay-sub-title">At your finger tips</h5>
            <button class="btn common-btn mt-3">Register Now</button>
        </div>
    </div>
</div>
<!--Banner End-->

<!--Home Services-->
<div class="common-padding-divider"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h2 class="page-title">Services</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-icon">
                        
                    </div>
                    <h4 class="card-title text-center">Electronic Repair</h4>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ipsa mollitia vero facere corrupti ex.</p>
                </div>
                <div class="card-footer text-center">
                    <button class="btn common-btn" routerLink="/service-detail">Apply Now</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-icon">
                        
                    </div>
                    <h4 class="card-title text-center">Plumber</h4>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ipsa mollitia vero facere corrupti ex.</p>
                </div>
                <div class="card-footer text-center">
                    <button class="btn common-btn" routerLink="/service-detail">Apply Now</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-icon">
                        
                    </div>
                    <h4 class="card-title text-center">Carpenter</h4>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ipsa mollitia vero facere corrupti ex.</p>
                </div>
                <div class="card-footer text-center">
                    <button class="btn common-btn" routerLink="/service-detail">Apply Now</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-icon">
                        
                    </div>
                    <h4 class="card-title text-center">Cleaner</h4>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ipsa mollitia vero facere corrupti ex.</p>
                </div>
                <div class="card-footer text-center">
                    <button class="btn common-btn" routerLink="/service-detail">Apply Now</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="common-padding-divider"></div>
<!--Home Services End-->

<!--Footer-->
<app-footer></app-footer>
<!--Footer End-->